<!DOCTYPE html>
<html>
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Tic Tac Toe</title>
    </head>
    <body>
        <div class="bodydiv">
            <h1> Tic Tac Toe</h1>
            <!-- TODO: Announce winner if there is one-->

            {% if error %}
            <h2> {{ error }}</h2>
            {% endif %}

            {% if winner %}
            <h2> {{ winner }} has won! </h2>
            {% endif %}

            <table>
                <!-- Dynamically update tictactoe board-->
                {% for i in range(3) %}
                <tr>
                    {% for j in range(3) %}
                    <td>
                        <!--Note that you can use session directly without passing it into render_template function -->
                        <!--It's globally accessible to Flask application-->
                    {% if session.board[i][j] %}
                        {{ session.board[i][j] }}
                    {% else %}
                    <!--Could have just as easily used buttons, or onclick event listener on td tags, etc -->
                    <!--Documentation on url_for: https://flask.palletsprojects.com/en/1.1.x/quickstart/-->
                        <a href="{{ url_for('play', row=i, col=j) }}">Play {{ session.turn }} here. </a>
                    {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <button type="button"><a href="/reset">Reset Game</a></button>
            <button type="button"><a href="/undo">Undo Move</a></button>
        </div>
    </body>
</html>